# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
.env

# Android
android/.gradle/
android/local.properties
android/app/build/
android/build/
*.apk
*.aab

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
